main
	section.banner
		img.animated-img.animated-img_left(src="img/img-saw.png", alt="saw")
		img.animated-img.animated-img_right(src="img/img-saw.png", alt="saw")
		.container
			.banner__title
				h1 Подоконники
				span любых размеров, цветов, форм
				span.color-yellow из искусственного акрилового камня
			.banner__info от 
				b 14 тыс. руб. 
				|  за кв. м.
			.scroll-down
	.ruller
	section.catalog
		.container
			.section__title каталог 
				span.color-yellow текстур
				span.section__title-shadow каталог текстур
			.slider__caption 14 тыс. руб.
				span.color-yellow одноцветные
			.slider
				.slider__item
					img(src='img/img-catalog1.png')
					.slider__title гранит матовый
				.slider__item
					img(src='img/img-catalog2.png')
					.slider__title белый глянец
				.slider__item
					img(src='img/img-catalog3.png')
					.slider__title белый глянец
				.slider__item
					img(src='img/img-catalog4.png')
					.slider__title черный глянец
				.slider__item
					img(src='img/img-catalog1.png')
					.slider__title мрамор глянец
			.slider__caption 16 тыс. руб. 
				span.color-yellow одноцветные
			.slider
				.slider__item
					img(src='img/img-catalog1.png')
					.slider__title гранит матовый
				.slider__item
					img(src='img/img-catalog2.png')
					.slider__title белый глянец
				.slider__item
					img(src='img/img-catalog3.png')
					.slider__title белый глянец
				.slider__item
					img(src='img/img-catalog4.png')
					.slider__title черный глянец
				.slider__item
					img(src='img/img-catalog1.png')
					.slider__title мрамор глянец
			.slider__caption 18 тыс. руб. 
				span.color-yellow одноцветные
			.slider
				.slider__item
					img(src='img/img-catalog1.png')
					.slider__title гранит матовый
				.slider__item
					img(src='img/img-catalog2.png')
					.slider__title белый глянец
				.slider__item
					img(src='img/img-catalog3.png')
					.slider__title белый глянец
				.slider__item
					img(src='img/img-catalog4.png')
					.slider__title черный глянец
				.slider__item
					img(src='img/img-catalog1.png')
					.slider__title мрамор глянец
				
			.slider__caption 25 тыс. руб. 
				span.color-yellow  эксклюзив
			.slider
				.slider__item
					img(src='img/img-catalog1.png')
					.slider__title гранит матовый
				.slider__item
					img(src='img/img-catalog2.png')
					.slider__title белый глянец
				.slider__item
					img(src='img/img-catalog3.png')
					.slider__title белый глянец
				.slider__item
					img(src='img/img-catalog4.png')
					.slider__title черный глянец
				.slider__item
					img(src='img/img-catalog1.png')
					.slider__title мрамор глянец
			
			.product-type-wrap
				.section__title Кромка на
					span.color-yellow выбор
					.section__title-shadow  выбор
				.row
					.col-md-4
						.product-type
							.product-type__img
								img(src="img/img-type1.png", alt="type")
							.product-type__title
								b КЛАССИЧЕСКАЯ
								span бесплатно
					.col-md-4
						.product-type
							.product-type__img
								img(src="img/img-type2.png", alt="type")
							.product-type__title
								b фигурная
								span бесплатно
					.col-md-4
						.product-type
							.product-type__img
								img(src="img/img-type3.png", alt="type")
							.product-type__title
								b эксклюзивная
								span 500 руб. за погонный метр
	.ruller
	section.calc
		.container
			.section__title Расчёт 
				span.color-yellow стоимости
				span.section__title-shadow  стоимости
			ul.product-price
				li
					span.product-price__name одноцветные
					span.product-price__description (
						span.product-price__value 14
						|   тыс. руб. за кв.м.)
				li
					span.product-price__name мелкопесчаные
					span.product-price__description (
						span.product-price__value 16
						|   тыс. руб. за кв.м.)
				li
					span.product-price__name крупнопесчаные
					span.product-price__description (
						span.product-price__value 18
						|   тыс. руб. за кв.м.)
						|   тыс. руб. за кв.м.)
				li
					span.product-price__name эксклюзив
					span.product-price__description 
						span.product-price__value 25
						|   тыс. руб. за кв.м.)
			.calc-form
				.calc-form__input-row
					input(type='text' placeholder='Длина (мм)')
				.calc-form__input-row
					input(type='text' placeholder='Ширина (мм)')
				.calc-form__input-row
					input(type='text' placeholder='Толщина (мм)')
				.calc-form__input-row
					.sum-wrap
						.sum 999999
						.currency руб.
				.calc-form__input-row
					button.butn рассчитать стоимость
	section.works
		.container
			.section__title Примеры  
				span.color-yellow работ
				span.section__title-shadow  Примеры работ
			.works-slider
				.works-slider__item
					.works-slider__img
						.works-inner-slider
							.works-inner-slider__item
								img(src="img/img-works1.png", alt="")
							.works-inner-slider__item
								img(src="img/img-works1.png", alt="")
							.works-inner-slider__item
								img(src="img/img-works1.png", alt="")
					.works-slider__title дизайн кухни
					ul.works-slider__description
						li
							span.color-yellow Особенности:
							| Великолепная роскошная кухня с большим окном и шикарной столешней.
						li
							span.color-yellow Решение:
							| Интегрированная мойка, встроенные шкафы, большая столешня и конечно же наша главная изюминка окно.
				.works-slider__item
					.works-slider__img
						.works-inner-slider
							.works-inner-slider__item
								img(src="img/img-works1.png", alt="")
							.works-inner-slider__item
								img(src="img/img-works1.png", alt="")
							.works-inner-slider__item
								img(src="img/img-works1.png", alt="")
					.works-slider__title дизайн кухни
					ul.works-slider__description
						li
							span.color-yellow Особенности:
							| Великолепная роскошная кухня с большим окном и шикарной столешней.
						li
							span.color-yellow Решение:
							| Интегрированная мойка, встроенные шкафы, большая столешня и конечно же наша главная изюминка окно.
			
						
					
			
		
					
					
					
				
					
						
		
