

.modal-hidden
			#sent-message.modal.my-modal.fade.popup(role='dialog')
				.modal-dialog
					.modal-content
						button.close.close-x(type='button', data-dismiss='modal')
						.form-wrapper
							form#sent-message-form(method='POST', onsubmit='return false')
								.form__title Надіслати повідомлення
								.input-row
									label.validate
										input(type='text', name='name', placeholder='Ваше ім`я')
										span
								.input-row
									label.validate
										input(type='tel', name='tel', data-mask='+38-(000)-000-00-00', placeholder='Ваш телефон')
										strong Формат: +38 XXX XXX-XX-XX
										span
								.input-row
									label.validate
										textarea.comments(name='message', placeholder='Ваше повідомлення')
										span
								.input-row.input-btn
									button.btn.btn_blue(type='submit', data-rel='sent-message-form')
										| надіслати
			#call-back.modal.my-modal.fade.popup(role='dialog')
				.modal-dialog
					.modal-content
						button.close.close-x(type='button', data-dismiss='modal')
						.form-wrapper
							form#call-back-form(method='POST', onsubmit='return false')
								.form__title перезвоніть мені
								.input-row
									label.validate
										input(type='text', name='name', placeholder='Ваше ім`я')
										span
								.input-row
									label.validate
										input(type='tel', name='tel', data-mask='+38-(000)-000-00-00', placeholder='Ваш телефон')
										strong Формат: +38 XXX XXX-XX-XX
										span
								.input-row
									label
										textarea.comments(name='message', placeholder='Ваше повідомлення (якщо необхідно)')
										span
								.input-row.input-btn
									button.btn.btn_blue(type='submit', data-rel='call-back-form')
										| надіслати
			#request.modal.my-modal.fade.popup(role='dialog')
				.modal-dialog
					.modal-content
						button.close.close-x(type='button', data-dismiss='modal')
						.form-wrapper
							form#request-form(method='POST', onsubmit='return false')
								.form__title надіслати заявку
								.input-row
									label.validate
										input(data-required='Введіть імя', type='text', name='name', placeholder='Ваше ім`я')
										span
								.input-row
									label.validate
										input(type='tel', name='tel', data-mask='+38-(000)-000-00-00', placeholder='Ваш телефон')
										strong Формат: +38 XXX XXX-XX-XX
										span
								.input-row
									label.validate
										textarea.comments(name='message', placeholder='Ваше повідомлення')
										span
								.input-row.input-btn
									button.btn.btn_blue(type='submit', data-rel='request-form')
										| надіслати
			#thank-you.modal.modalthank.my-modal.fade.popup(role='dialog')
				.modal-dialog
					.modal-content
						button.close.close-x(type='button', data-dismiss='modal')

						.form-wrapper
							.form__title дякуємо!
							.input-row
								b Ваше повідомлення надіслано успішно!
								br
								| Наш спіціаліст зв'яжеться з
								|                         Вами найближчим часом.
							.input-row
								button.close.btn.btn_blue(type='button', data-dismiss='modal')
									| закрити