header.header
	.container
		.header__top
			#hamburger(data-toggle='collapse', data-target='#nav', aria-expanded='false')
				span
				span
				span
				span
			.logo
				img(src="img/logo.png", alt="logo")
				span.logo__info Производство и продажа подоконников в Ростов-на-Дону
		.header__bottom
			ul#nav
				li
					a(href="#") главная
				li
					a(href="#") Примеры работ
				li
					a(href="#")  Цвета
				li
					a(href="#") Расчитать стоимость
				li
					a(href="#") Статьи
				li
					a(href="#") Контакты
