meta(charset="utf-8")
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title Подоконники


//- inject:css
link(rel="stylesheet", href="vendor/css/bootstrap.min.css")
link(rel="stylesheet", href="vendor/css/jquery.fancybox.min.css")
link(rel="stylesheet", href="vendor/css/normalize.css")
link(rel="stylesheet", href="vendor/css/slick.css")
link(rel="stylesheet", href="css/style.css")
//- endinject
