// #nav{
//     list-style: none;
//     display: block;


//     text-align: justify;
//     line-height: 0;


//     margin-bottom: 0;
//     &:after{
//         width: 100%;
//         height: 0;
//         visibility: hidden;
//         overflow: hidden;
//         content: "";
//         display: inline-block;
//     }

//     >li{

//         display: inline-block;
//         text-align: left;
//         line-height: normal;
//         font-size: 14px;



//         position: relative;
//         >ul{
//             display: none;
//         }
//     }
// }

// #hamburger {
// 	display: none;
// 	float: right;
// 	width: 30px;
// 	height: 18px;
// 	position: relative;
// 	margin: 26px 0 14px;
// 	-webkit-transform: rotate(0deg);
// 	-moz-transform: rotate(0deg);
// 	-o-transform: rotate(0deg);
// 	transform: rotate(0deg);
// 	-webkit-transition: .5s ease-in-out;
// 	-moz-transition: .5s ease-in-out;
// 	-o-transition: .5s ease-in-out;
// 	transition: .5s ease-in-out;
// 	cursor: pointer;
// 	span {
// 		display: block;
// 		position: absolute;
// 		height: 2px;
// 		width: 100%;
// 		background: $color-brand;
// 		//border-radius: 9px;
// 		opacity: 1;
// 		left: 0;
// 		-webkit-transform: rotate(0deg);
// 		-moz-transform: rotate(0deg);
// 		-o-transform: rotate(0deg);
// 		transform: rotate(0deg);
// 		-webkit-transition: .25s ease-in-out;
// 		-moz-transition: .25s ease-in-out;
// 		-o-transition: .25s ease-in-out;
// 		transition: .25s ease-in-out;
// 	}
// }
// #hamburger span:nth-child(1) {
// 	top: 0;
// }
// #hamburger span:nth-child(2),#hamburger span:nth-child(3) {
// 	top: 9px;
// }
// #hamburger span:nth-child(4) {
// 	top: 18px;
// }
// #hamburger.open span:nth-child(1) {
// 	top: 9px;
// 	width: 0;
// 	left: 50%;
// }
// #hamburger.open span:nth-child(2) {
// 	-webkit-transform: rotate(45deg);
// 	-moz-transform: rotate(45deg);
// 	-o-transform: rotate(45deg);
// 	transform: rotate(45deg);
// }
// #hamburger.open span:nth-child(3) {
// 	-webkit-transform: rotate(-45deg);
// 	-moz-transform: rotate(-45deg);
// 	-o-transform: rotate(-45deg);
// 	transform: rotate(-45deg);
// }
// #hamburger.open span:nth-child(4) {
// 	top: 9px;
// 	width: 0;
// 	left: 50%;
// }
