@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:600,700|Fira+Sans:300,400,500,700,900&subset=cyrillic,cyrillic-ext');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	&:active, &:focus{
		outline: none!important;
		text-decoration: none!important;
	}
}

// font-family: 'Fira Sans', sans-serif;
// font-family: 'Fira Sans Condensed', sans-serif;
html{
	height: 100%;
}
body{
	min-height: 100%;
	background: #fff url(../img/bg-pattern.png);
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400px;
	font-style: 15px;
}

.clearfix:before, .clearfix:after{
	content: ' ';
	display: table;
	clear: both;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}
@mixin fs($sizeValue: 1.6){
	font-size: ($sizeValue) + px;
	font-size: ($sizeValue/10) + rem;
}



h1,h2,h3,h4,h5,h6,ul,ol{
	margin: 0;
	padding: 0;
}


.row-eq-height {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}



// @import 'sprite';
@import 'header';
@import 'content';
@import 'footer';
@import 'media';
